In [11]:
import numpy as np
import pandas as pd
from tensorflow.keras.datasets import reuters
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
from math import log

#from tensorflow.keras.preprocessing.sequence import pad_sequences
#from tensorflow.keras.models import Sequential
#from tensorflow.keras.layers import Dense, Embedding, Flatten

from sklearn.feature_extraction.text import TfidfVectorizer
import tensorflow as tf

#from sklearn.feature_extraction.text import CountVectorizer
#from sklearn.feature_extraction.text import TfidfTransformer
#from sklearn.linear_model import SGDClassifier
#from sklearn.pipeline import Pipeline

plt.rcParams['font.family'] = 'Malgun Gothic'

In [12]:
(x_train, y_train), (x_test, y_test) = reuters.load_data(num_words=None, test_split=0.2)

In [44]:
x_train_list = np.concatenate(x_train.tolist()).tolist()
x_train_list2 = list(set(x_train_list))

word_len = len(x_train_list2) # 전체 문서에서의 단어의 종류
#x_train_list2

TF : 1개 문서 안에서 특정 단어의 등장빈도<br>
DF : 특정 단어가 나타나는 문서의 수<br>
IDF : ln((1+n)/(1+df)) + 1

In [56]:
N = len(x_train)

def tf(t, d):
    return d.count(t)

def idf(t):
    df = 0
    for doc in x_train:
        df += t in doc
    return log(N/(df + 1))

def tfidf(t, d):
    return tf(t,d)*idf(t)

In [55]:
result = []
for i in range(N):
    result.append([0 for i in range(word_len)])
    d = x_train[i]
    for j in range(len(d)):
        t = x_train_list2[j]        
        result[i][t-1] = tf(t, d)

tf_ = pd.DataFrame(result, columns = x_train_list2)
tf_

,1,2,4,5,6,7,8,9,10,11,...,30972,30973,30974,30975,30976,30977,30978,30979,30980,30981
0,1,0,0,16,7,5,2,2,4,4,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,7,3,3,1,0,3,1,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,60,17,20,19,11,13,18,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,18,5,5,3,6,4,4,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,29,6,10,7,4,5,5,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8977,1,0,0,10,1,6,4,2,3,2,...,0,0,0,0,0,0,0,0,0,0
8978,1,0,0,1,2,0,0,2,1,2,...,0,0,0,0,0,0,0,0,0,0
8979,1,0,0,3,1,2,2,2,1,3,...,0,0,0,0,0,0,0,0,0,0
8980,1,0,0,1,0,5,0,0,4,7,...,0,0,0,0,0,0,0,0,0,0
8981,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [57]:
result2 = []
for j in range(len(x_train_list2)):
    t = x_train_list2[j]
    result2.append(idf(t))

idf_ = pd.DataFrame(result2, index = x_train_list2, columns = ["IDF"])
idf_

            IDF
1     -0.000111
2      8.409831
4      0.315605
5      0.259363
6      0.376010
...         ...
30977  8.409831
30978  8.409831
30979  8.409831
30980  8.409831
30981  8.409831

[28138 rows x 1 columns]

In [59]:
# 코드 처리 속도로 인한 오류
result3 = []
for i in range(N):
    result3.append([])
    d = x_train[i]
    for j in range(len(x_train_list2)):
        t = x_train_list2[j]

        result3[-1].append(tfidf(t,d))

tfidf_ = pd.DataFrame(result3, columns = x_train_list2)
tfidf_

KeyboardInterrupt:

In [ ]:
df.to_csv("reuters_tfidf.csv", index=False, encoding='utf-8-sig')

파일을 열기<br>
df = pd.read_csv("C:/위치입력/reuters_tfidf.csv", encoding='utf-8-sig')